%meta{charset: 'UTF-8'}
%title
%script{src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
%script{src: 'http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js'}
%script{src: './application.js'}
%link{href: 'http://fonts.googleapis.com/css?family=Inconsolata', rel: 'stylesheet'}
%link{href: "http://fonts.googleapis.com/css?family=Covered+By+Your+Grace", rel: 'stylesheet'}
%link{href: './application.css', rel: 'stylesheet' }
