$base-color: #cf3;
$key-color: #3cf;
$accent-color: #f3c;
$shadow-color: #333;

$tracing-color: #666;
$current-color: $key-color;
$correct-color: $base-color;
$wrong-color: $accent-color;

$word-size: 2em;

@mixin paper-shadow {
  &:before,
  &:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: $shadow-color;
    -webkit-box-shadow: 0 15px 10px $shadow-color;
    -moz-box-shadow: 0 15px 10px $shadow-color;
    box-shadow: 0 15px 10px $shadow-color;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  &:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }
}

body {
  background: transparentize($base-color, .8);
  margin: 12px 0 0;

  header {
    text-align: center;

    h1 {
      line-height: 1em;
      margin: 0;
      font: {
        size: 4em;
        family: 'Covered By Your Grace', cursive;
      }

      + p {
        width: 15em;
        color: white;
        font: {
          weight: bold;
          size: .8em;
        }
        background: $base-color * 0.5;
        margin: 0 auto;
      }
    }

    h2 {
      color: $accent-color * .5;
      font: {
        size: 1.25em;
      }
      margin: .25em auto 1em;
      ~ p {
        line-height: .5em;
      }
    }

    nav {
      margin-top: 3em;
      ul {
        li {
          display: inline-block;
          list-style-type: none;
          padding: 0 .5em;
          border-bottom: 1px solid $tracing-color * 1.5;
          &:hover {
            border-bottom:  3px solid $current-color * 0.8;
            cursor: pointer;
          }
        }
      }
    }
  }

  #result {
    color: $correct-color * .25;
    font: {
      size: 1.25em;
      family: 'Inconsolata'
    }
    position: fixed;
    top: 24px;
    right: 24px;
    width: 80px;
    height: 20px;
    padding: 4px;
    background: transparentize(#fff, 0.2);
    box-shadow: gray 1px 1px 1px;
    text-align: right;
    z-index: 9999;
  }

  #field {
    color: $tracing-color;
    font: {
      size: $word-size;
      family: 'Inconsolata', monospace;
    }

    ul {
      margin: 1em;
      padding: 1em;
      line-height: 1.5em;
      background: #000;
      position: relative;
      @include paper-shadow;

      li {
        display: inline-block;
        padding-right: .5em;
        border-bottom: 1px solid $tracing-color;

        &.current { border-bottom: 3px solid $current-color; }
        &.correct,
        &.wrong {
          -webkit-animation: enter .1s ease-in-out 1;
        }

        span {
          display: inline-block;
          letter-spacing: -.5em;
          margin-right: .5em;
          padding: 0;
          &.current { color: $current-color; }
          &.correct {
            color: $correct-color;
            -webkit-animation: correct 0.5s ease-out 1;
          }
          &.wrong   {
            color: $wrong-color;
            -webkit-animation: mistake .1s ease-in-out 1;
          }
          &.wrong:first-letter { color: $tracing-color; }
        }
      }
    }
  }
  #tweet-result {
    display: none;
    text-align: center;
    padding: 1em;
  }

  #footer {
    height: 5em;
    display: none;
    background: $base-color * .1;
    color: $tracing-color;
    text-align: center;
    padding-top: 4em;
    font: {
      size: .8em;
    }
  }
}

@-webkit-keyframes mistake {
    0% { color: #fff; }
   25% { color: inherit; }
   50% { color: #fff; -webkit-transform: rotate(0deg);  }
   60% { -webkit-transform: rotate(60deg); }
   70% { -webkit-transform: rotate(-450deg);}
   75% { color: inherit; }
   80% { -webkit-transform: rotate(15deg); }
   90% { -webkit-transform: rotate(-5deg); }
  100% { -webkit-transform: rotate(0deg); }
}

@-webkit-keyframes correct {
   0%  { color: transparentize($correct-color, .7); }
  50%  { color: $correct-color; }
}

@-webkit-keyframes enter {
   0%  { -webkit-transform: scale(0.97);}
  70%  { -webkit-transform: scale(1.03);}
}
