!!!
%html
  %head
    = haml :_head

  %body
    %header
      %h1 SUBURI
      %p prototype
      %h2 reduce typo! let's Suburi!
      %p enjoy Asa-Ren, Inokori-Tokkun!
      %p (only Chrome browser)

      %nav
        %ul
          %li.git
            Git command
          %li.string
            Ruby String
          %li.array
            Ruby Array
          %li.enumerable
            Ruby Enumerable
          %li.metasyntactic
            Metasyntactic variable

    #result
    #field

    #tweet-result

    #footer
      %p
        cited by:
        %a{href: "http://www.slideshare.net/ckazu/typo-11702025", target: '_blank'}
          typo の傾向と対策

      %p
        Copyright &copy; 2012,
        %a{href: "http://www.twitter.com/ckazu", target: '_blank'}@ckazu
        All Rights Reserved.
