!!!
%html
  %head
    = haml :_head

  %body
    %header
      %h1 SUBURI
      %p prototype
      %h2 reduce typo! let's Suburi!

      %nav
        %ul
          %li.git
            Git command
          %li.string
            Ruby String
          %li.array
            Ruby Array
          %li.enumerable
            Ruby Enumerable
          %li.metasyntactic
            Metasyntactic variable

    #result
    #field

    #tweet-result

    #footer
      %p Copyright &copy; 2012, ckazu All Rights Reserved.
